[Unit]
Description=FastAPI Task App Service
After=network.target

[Service]
User=app
Group=app
WorkingDirectory=~/DevOps/DevOpsTask/FastAPI

# Создание и настройка лог-файла перед запуском
ExecStartPre=/bin/mkdir -p /var/log
ExecStartPre=/bin/touch /var/log/devops-app.log
ExecStartPre=/bin/chown app:app /var/log/devops-app.log
ExecStartPre=/bin/chmod 664 /var/log/devops-app.log

# Запуск приложения из виртуального окружения
ExecStart=~/DevOps/DevOpsTask/FastAPI/venv/bin/python ~/DevOps/DevOpsTask/FastAPI/app.py

Restart=always
StandardOutput=append:/var/log/task-app.log
StandardError=append:/var/log/task-app.log

[Install]
WantedBy=multi-user.target
