[Unit]
Description=FastAPI app for DevOps Task
After=network.target

[Service]
User=app
Group=app
WorkingDirectory=/home/app/FastAPI_app
ExecStart=/home/app/FastAPI_app/venv/bin/python3 /home/app/FastAPI_app/app.py
Restart=always
RestartSec=5
StandardOutput=append:/var/log/devops-app.log
StandardError=append:/var/log/devops-app.error.log

[Install]
WantedBy=multi-user.target